{
  "extends": ["@ivangabriele/eslint-config-typescript-base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["/dist", "/examples", "/scripts"],
  "rules": {
    "class-methods-use-this": "off"
  }
}
